<div data-controller="clipboard">
  <p>Embed the HTML below into an email to seed the email with a tracker. You'll then be able to check back here to see when the email is opened and the IP address associated with the client.</p>
  <textarea data-target="clipboard.source" cols=60 rows=2 readonly><img src="<%= base_url %>/trackers/<%= token %>.jpg" style="height:0; width:0;" /></textarea>
  <button data-action="clipboard#copy" class="clipboard-button">Copy Embed</button>
</div>
