<p><%= link_to 'Back', trackers_url %></p>
<h1>Tracker <%= @tracker.token %></h1>
<%= render partial: 'tracker_embed_source', locals: { base_url: @base_url, token: @tracker.token } %>
<h2>Hits</h2>
<% if @tracker.tracker_hits.size > 0 %>
<ul><%= render partial: 'tracker_hit', collection: @tracker.tracker_hits %></ul>
<% else %>
<p>No hits yet</p>
<% end %>
